.about {
    grid-row: 9 / 10;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50rem;

    margin-top: 10rem;
    background-color: rgb(245, 245, 245);
    width: 100vw;


    &__map {
        grid-column: 1 / 2;
        background-color: rgb(229, 227, 223);
        
        @media only screen and (max-width: 750px) {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
            
        }
    }

    &__head {
        grid-column: 2 / 3;
        margin-left: 5rem;
        display: grid;
        align-content: center;
        grid-row-gap: 2rem;

        @media only screen and (max-width: 750px) {
            grid-row: 2 / 3;
            grid-column: 1 / -1;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            
            
        }
        @media only screen and (max-width: 550px) {
            grid-column: 1 / -1;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            align-content: center;
            justify-items: center;
        }

       h3 {
           font-size: 2.4rem;
           color: #444;
           line-height: 1.5;
           letter-spacing: 1px;
           font-weight: 400;

           @media only screen and (max-width: 750px) {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
            justify-self: center;
            
        }
       }

        &__location {
            line-height: 1.7;
            font-size: 1.6rem;
        }

        &__country {
            font-weight: 500;
            
        }

        &__add {
            color: #555;
        }

        &-bold {
            font-weight: 500;
            
        }

    }
}