.blog {
    grid-row: 7 / 8;


    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr repeat(auto-fit, minmax(55rem, 1fr)) 1fr;


    margin-top: 20rem;
    margin-bottom: 10rem;
    background-color: #f9f9f9;
  



    h2 {

        grid-row: 1 / 2;
        grid-column: 2 / 4;
        margin-bottom: 10rem;
    }

    &__items {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        display: grid;
        grid-row-gap: 2rem;
        
  
     
    }

    &__item {
        
     
        &-1 {
            grid-row: 1 / 2;
            grid-column: 2 / 3; 

            display: grid;
            grid-template-columns: 25rem 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 2rem;
            grid-row-gap: 1rem;

            @media only screen and (max-width: 500px) {
                grid-column: 1 / -1;
                grid-row: 2 / 3;
             
            }
            
            img {
                align-self: center;
                grid-column: 1 / 2;
                grid-row: 1 / 4;
                display: block;
                width: 100%;
                object-fit: cover;


            }
            p {          
                grid-column: 2 / 3;
                align-self: end;

                font-size: 1.6rem;
                color: #999;

                

            }

            h3 {

                grid-column: 2 / 3;
                font-size: 2.2rem;
                line-height: 1.5;
                color: #444;
                font-weight: 400;
            }

            a  {

                grid-column: 2 / 3;
            }
        }

        &-2 {
            grid-row: 1 / 2;
            grid-column: 3 / 4; 

            display: grid;
            grid-template-columns: 25rem 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 2rem;
            grid-row-gap: 1rem;

            @media only screen and (max-width: 500px) {
                grid-column: 1 / -1;
                grid-row: 3 / 4;

                
             
            }
            
            img {
                align-self: center;
                grid-column: 1 / 2;
                grid-row: 1 / 4;
                display: block;
                width: 100%;
                object-fit: cover;

            }
            p {          
                grid-column: 2 / 3;
                align-self: end;

                font-size: 1.6rem;
                color: #999;
            }

            h3 {

                grid-column: 2 / 3;
                font-size: 2.2rem;
                line-height: 1.5;
                color: #444;
                font-weight: 400;
            }

            a  {

                grid-column: 2 / 3;
            }
        }
        
        &-3 {
            grid-row: 3 / 4;
            grid-column: 2 / 3; 

            display: grid;
            grid-template-columns: 25rem 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 2rem;
            grid-row-gap: 1rem;

            @media only screen and (max-width: 500px) {
                grid-column: 1 / -1;
                grid-row: 4 / 5;

                
             
            }
            
            img {
                align-self: center;
                grid-column: 1 / 2;
                grid-row: 1 / 4;
                display: block;
                width: 100%;
                object-fit: cover;

            }
            p {          
                grid-column: 2 / 3;
                align-self: end;

                font-size: 1.6rem;
                color: #999;
            }

            h3 {

                grid-column: 2 / 3;
                font-size: 2.2rem;
                line-height: 1.5;
                color: #444;
                font-weight: 400;
            }

            a  {

                grid-column: 2 / 3;
            }
        }

        &-4 {
            grid-row: 3 / 4;
            grid-column: 3 / 4; 

            display: grid;
            grid-template-columns: 25rem 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 2rem;
            grid-row-gap: 1rem;

            
            @media only screen and (max-width: 500px) {
                grid-column: 1 / -1;
                grid-row: 5 / 6;

                
             
            }
            
            img {
                align-self: center;
                grid-column: 1 / 2;
                grid-row: 1 / 4;
                display: block;
                width: 100%;
                object-fit: cover;

            }
            p {          
                grid-column: 2 / 3;
                align-self: end;

                font-size: 1.6rem;
                color: #999;
            }

            h3 {

                grid-column: 2 / 3;
                font-size: 2.2rem;
                line-height: 1.5;
                color: #444;
                font-weight: 400;
            }

            a  {

                grid-column: 2 / 3;
            }
        }
    }




}
