.footer {
    grid-row: 11 / 12;
    background-color: #333;
    color: #ccc;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-template-rows: 5fr;
    grid-row-gap: 3rem;
    justify-items: center;

    @media only screen and (max-width: 500px) {
        grid-template-columns: 1fr;
     
    }
    


 

    &__site {
        grid-column: 2 / 3;

        display: grid;
        justify-items: center;
        align-items: center;

        padding: 2rem;

        @media only screen and (max-width: 750px) {
            grid-column: 1 / -1;
         
        }

  


        a {
            display: block;
            text-decoration: none;
            color: #ccc;
            font-size: 1.7rem;

          
           
        }

    }

    &__subscribe {
        display: grid;
        justify-items: center;
        align-items: center;

        input {
            text-align: center;
            border-radius: 3px;
            display: block;
            width: 100%;
            font-size: 2rem;
            line-height: 1.5;
            padding: 1rem 1rem;
        }
    }

    &__contact {
        display: grid;
        justify-items: center;
        align-items: center;

        p {
            font-size: 1.7rem;
            letter-spacing: 1px;
            line-height: 1.6;
            color: #ccc;
            align-self: start;
        }
    }

    &__socials {
        padding: 2rem;
        font-size: 2rem;
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 2rem;

     
    }

    &__copyright {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        color: white;
        @media only screen and (max-width: 750px) {
            grid-row: 3 / 4;
         
        }
        @media only screen and (max-width: 750px) {
            grid-row: 4 / 5;
         
        }
    }

}

.footer-headings {
 
        margin-bottom: 5rem;
        font-size: 1.7rem;
        font-weight: 300;
        letter-spacing: 3px;
        text-transform: uppercase;
        

}

.footer__copyright {
    text-align: center;
    background-color: rgba(0,0,0,0.2);
    padding: 4rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(255,255,255,0.25);
}