.header {
    background-size: cover;
    background-image: linear-gradient(
        to right bottom,
        rgba(black, 0.8),
        rgba(grey, 0.55)), 
        url("../img/main.jpg");
    background-position: center center;
    width: 100vw;

    grid-row: 1 / 3;
    

    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-row-gap: 10rem;


    

    
}
