.projects {
    background-color: #f9f9f9;
    grid-row:  4 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20rem repeat(3, 20vw) 10rem;
    margin-bottom: 10rem;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__heading {
        grid-column: 1 / -1;
        justify-self: center;
        align-self: center;
        margin-bottom: 2rem;

    }

    &__item {

        &--1 {
            grid-column: 1 / 2;
            grid-row: 2 / 4;
        }
        &--2 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        &--3 {
            grid-column: 3 / 4;
            grid-row:  2 / 3;
        }
        &--4 {
            grid-column: 2 / -1;
            grid-row: 3 / 4;
        }
        &--5 {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }
        &--6 {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
        }
        &--7 {
            grid-column: 3 / 4;
            grid-row: 4 / 5;
        }

    }

    button {
        grid-column: 1 / -1;
        grid-row: 5 / 6;
        justify-self: center;
        align-self: center;
        margin-top: 5rem;
    }

}