.services {
    grid-row: 5 / 6;
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, 1fr));
    grid-template-rows: repeat(4, 20rem);
    justify-items: stretch;
    align-items: stretch;
    width: 100vw;
    
    @media only screen and (max-width: 500px) {
        grid-row-gap: 3rem;
        justify-items: center;
        grid-template-rows: repeat(5, min-content);
    }



    &__heading {
        grid-column: 1 / 6;
        grid-row: 1 / 2 ;
        justify-self: center;
        margin-bottom: 5rem;
    }


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        grid-column: 1 / 3;
        grid-row: 2 / 4;

        
    


    }

    &__item {
        text-align: center;
        border: 1px solid lightgray;
        
        display: grid;
        align-items: center;




        a {
            text-decoration: none;
            color: grey;


            h4 {
                margin-top: 3rem;
                
            }
      
        }

        &--1 {
            grid-column: 3 / 4;
            grid-row: 2 / 3; 
        }
        &--2 {
            grid-column: 4 / 5;
            grid-row: 2 / 3; 
        }
        &--3 {
            grid-column: 5 / 6;
            grid-row: 2 / 3; 
        }
        &--1 {
            grid-column: 1 / 2;
            grid-row: 3 / 4; 
        }
        &--1 {
            grid-column: 2 / 3;
            grid-row: 3 / 4; 
        }
        &--1 {
            grid-column: 3 / 4;
            grid-row: 3  / 4; 
        }
    
    }

    &__quote {
        background-color: #282828;
        grid-column: 1 / -1;
        grid-row:  4 / 5;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        
     
        h2 {
            color: white;

            grid-column: 2 / 3;
            grid-row: 1 / 2;
            justify-self: end;
            margin-right: 1.5rem;
        }

        button {
           grid-column: 3 / 4;
           grid-row: 1 / 2;
           justify-self: start;

           @media only screen and (max-width: 500px) {
                line-height: 1;
            }

        }
    }


}